
APP__DB__HOST=db
APP__DB__PORT=5432
APP__DB__NAME=
APP__DB__USER=
APP__DB__PASSWORD=


APP__X_TOKEN="your_32_char_static_token_here"

APP__API__ORIGINS=

APP__JWT__SECRET_KEY="super-secret-key"
APP__JWT__ALGORITHM="HS256"
APP__JWT__ACCESS_EXPIRE_MINUTES=15
APP__JWT__REFRESH_EXPIRE_DAYS=7
