############   DB   ####################
APP__DB__HOST=db
APP__DB__PORT=5432
APP__DB__NAME=
APP__DB__USER=
APP__DB__PASSWORD=

############   AUTH   ####################
APP__API__ORIGINS=

APP__X_TOKEN=your_32_char_static_token_here

APP__JWT__SECRET_KEY=super-secret-key
APP__JWT__ALGORITHM=HS256
APP__JWT__ACCESS_EXPIRE_MINUTES=15
APP__JWT__REFRESH_EXPIRE_DAYS=7

APP__GOOGLE__CLIENT_ID=
APP__GOOGLE__CLIENT_SECRET=
APP__GOOGLE__REDIRECT_URI=

############   LOG   ####################
APP__SENTRY__DSN=
APP__SENTRY__TRACE_RATE=0.1
APP__SENTRY__RELEASE="tracker_shadow@0.1.0"

# prod, dev, stage
APP__SENTRY__ENVIRONMENT="dev"
